**<font size="5">ABHISHEK KUMAR SINGH</font>**

**<font size="5">2K19/CO/021</font>**

# <font size="8"><center>EXPERIMENT - 6</center></font>

**AIM:** To write a python program to implement k-nearest neighbour algorithm.

**THEORY**

The k-Nearest Neighbors algorithm or KNN for short is a very simple technique.

The entire training dataset is stored. When a prediction is required, the k-most similar records to a new record from the training dataset are then located. From these neighbors, a summarized prediction is made.

Similarity between records can be measured many different ways. A problem or data-specific method can be used. Generally, with tabular data, a good starting point is the Euclidean distance.

Once the neighbors are discovered, the summary prediction can be made by returning the most common outcome or taking the average. As such, KNN can be used for classification or regression problems.

There is no model to speak of other than holding the entire training dataset. Because no work is done until a prediction is required, KNN is often referred to as a lazy learning method.

**CODE AND OUTPUT:**

**1. Importing Libraries**

In [8]:
# Making the imports

import pandas as pd
from sklearn import preprocessing
from random import seed, randrange
from math import sqrt

**2. Loading the dataset**

In [9]:
#Import the dataset

dataset = pd.read_csv('Iris.csv', header=None)
dataset.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [10]:
dataset.shape

(150, 5)

In [11]:
label_encoder = preprocessing.LabelEncoder()

dataset[4] = label_encoder.fit_transform(dataset[4])
 
dataset[4].unique()

array([0, 1, 2])

In [12]:
dataset.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [13]:
dataset.describe()

                0           1           2           3           4
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667    1.000000
std      0.828066    0.433594    1.764420    0.763161    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.350000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [14]:
dataset[0] = (dataset[0] - dataset[0].min()) / (dataset[0].max() - dataset[0].min() )
dataset[1] = (dataset[1] - dataset[1].min()) / (dataset[1].max() - dataset[1].min() )
dataset[2] = (dataset[2] - dataset[2].min()) / (dataset[2].max() - dataset[2].min() )
dataset[3] = (dataset[3] - dataset[3].min()) / (dataset[3].max() - dataset[3].min() )

dataset.head()

          0         1         2         3  4
0  0.222222  0.625000  0.067797  0.041667  0
1  0.166667  0.416667  0.067797  0.041667  0
2  0.111111  0.500000  0.050847  0.041667  0
3  0.083333  0.458333  0.084746  0.041667  0
4  0.194444  0.666667  0.067797  0.041667  0

In [15]:
dataset.describe()

                0           1           2           3           4
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     0.428704    0.439167    0.467571    0.457778    1.000000
std      0.230018    0.180664    0.299054    0.317984    0.819232
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.222222    0.333333    0.101695    0.083333    0.000000
50%      0.416667    0.416667    0.567797    0.500000    1.000000
75%      0.583333    0.541667    0.694915    0.708333    2.000000
max      1.000000    1.000000    1.000000    1.000000    2.000000

In [16]:
dataset = dataset.values.tolist()

**3. Building the Model**

In [17]:
# Split a dataset into k folds
def cross_validation_split(dataset, n_folds):
	dataset_split = list()
	dataset_copy = list(dataset)
	fold_size = int(len(dataset) / n_folds)
	for _ in range(n_folds):
		fold = list()
		while len(fold) < fold_size:
			index = randrange(len(dataset_copy))
			fold.append(dataset_copy.pop(index))
		dataset_split.append(fold)
	return dataset_split
 
# Calculate accuracy percentage
def accuracy_metric(actual, predicted):
	correct = 0
	for i in range(len(actual)):
		if actual[i] == predicted[i]:
			correct += 1
	return correct / float(len(actual)) * 100.0
 
# Evaluate an algorithm using a cross validation split
def evaluate_algorithm(dataset, algorithm, n_folds, *args):
	folds = cross_validation_split(dataset, n_folds)
	scores = list()
	for fold in folds:
		train_set = list(folds)
		train_set.remove(fold)
		train_set = sum(train_set, [])
		test_set = list()
		for row in fold:
			row_copy = list(row)
			test_set.append(row_copy)
			row_copy[-1] = None
		predicted = algorithm(train_set, test_set, *args)
		actual = [row[-1] for row in fold]
		accuracy = accuracy_metric(actual, predicted)
		scores.append(accuracy)
	return scores
 
# Calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)
 
# Locate the most similar neighbors
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors
 
# Make a prediction with neighbors
def predict_classification(train, test_row, num_neighbors):
	neighbors = get_neighbors(train, test_row, num_neighbors)
	output_values = [row[-1] for row in neighbors]
	prediction = max(set(output_values), key=output_values.count)
	return prediction
 
# kNN Algorithm
def k_nearest_neighbors(train, test, num_neighbors):
	predictions = list()
	for row in test:
		output = predict_classification(train, row, num_neighbors)
		predictions.append(output)
	return(predictions)

**4. Test the k-NN algorithm on dataset**

In [18]:
seed(1)
n_folds = 5
num_neighbors = 5

scores = evaluate_algorithm(dataset, k_nearest_neighbors, n_folds, num_neighbors)

print('Scores: %s' % scores)
print('Mean Accuracy: %.3f%%' % (sum(scores)/float(len(scores))))

Scores: [90.0, 96.66666666666667, 100.0, 93.33333333333333, 96.66666666666667]
Mean Accuracy: 95.333%

**LEARNING OUTCOMES**

We learnt about the k-NN algorithm and its implementation in python.