<font size="5">**ABHISHEK KUMAR SINGH**</font>

<font size="5">**2K19/CO/021**</font>

**<font size="8"><center>EXPERIMENT - 2</center></font>**

**AIM:** To explore the dataset collected.

**THEORY**

**Pandas**

Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. Pandas is fast, and it has high performance & productivity for users.

Pandas is mainly used for data analysis. Pandas allows importing data from various file formats such as comma-separated-values, JSON, SQL, Microsoft Excel. Pandas allows various data manipulation operations such as merging, reshaping, selecting, as well as data cleaning, and data wrangling features.

**NumPy**

Numpy is a general-purpose array-processing package providing high-performance multi-dimensional array object and tools for working with these arrays. It is the fundamental package for scientific computing with Python.

Besides its obvious scientific uses, Numpy can also be used as an efficient multidimensional container of generic data

**Iris Dataset**

Iris Dataset is considered as the Hello World for data science. It contains five columns: Petal Length, Petal Width, Sepal Length, Sepal Width, and Species Type of the flowering plant Iris. The researchers have measured various features of the different iris flowers and recorded them digitally.

The data set consists of 50 samples from each of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). Four features were measured from each sample: the sepals and petals' length and width in centimeters. Based on the combination of these four features, British statistician and biologist Ronald Fisher developed a linear discriminant model to distinguish the species from each other.

**CODE AND OUTPUT:**

**1. Importing Libraries**

In [80]:
import pandas as pd
import numpy as np

**2. Loading the Iris Dataset**

In [81]:
path="/Iris.csv"
df = pd.read_csv('Iris.csv')

In [82]:
# Print first five rows of the dataframe

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

**3. Basic Insight of dataset**

In [83]:
#Get the number of rows and columns

df.shape

(150, 6)

In [84]:
#Get the data types of columns

df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [85]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [86]:
df['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

**4. Viewing Data and Accessing Data**

In [87]:
# Get the column as a series

x = df['Species']
x.tail()

145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, dtype: object

In [88]:
# Get the column as a dataframe

x = df[['SepalWidthCm']]
x.head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [89]:
# Access to multiple columns

x = df[['PetalLengthCm','PetalWidthCm']]
x.head()

   PetalLengthCm  PetalWidthCm
0            1.4           0.2
1            1.4           0.2
2            1.3           0.2
3            1.5           0.2
4            1.4           0.2

In [90]:
# Access the value on the first row and the first column

df.iloc[0, 0]

1

In [91]:
# Access the value on the second row and the first column

df.iloc[1,0]

2

In [92]:
# Access the value on the second row and the third column

df.iloc[1,2]

3.0

In [93]:
# Access the column using the name

df.loc[16, 'Species']

'Iris-setosa'

In [94]:
# Access the column using the name

df.loc[1, 'SepalWidthCm']

3.0

In [95]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

   Id  SepalLengthCm  SepalWidthCm
0   1            5.1           3.5
1   2            4.9           3.0

In [96]:
# Slicing the dataframe using name

df.loc[0:2, 'SepalLengthCm':'SepalWidthCm']

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2

In [97]:
# Access the dataframe based on condition

df[df['Species']=='Iris-versicolor'].head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor

In [98]:
df[df['SepalLengthCm']>7]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
102,103,7.1,3.0,5.9,2.1,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica

In [99]:
df[df['Id']==7][['Id','Species']]

   Id      Species
6   7  Iris-setosa

In [100]:
df[df['PetalLengthCm']==max(df['PetalLengthCm'])]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
118,119,7.7,2.6,6.9,2.3,Iris-virginica

In [101]:
df[df['SepalWidthCm']==min(df['SepalWidthCm'])]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
60,61,5.0,2.0,3.5,1.0,Iris-versicolor

**LEARNING OUTCOMES**

* We learnt about python programming language.
* We gained knowledge about important python libraries viz, numpy, pandas.